/*structure*/
*
{
font-family: "Roboto Mono", monospace;
 margin: 0;
 padding: 0;
 text-decoration: none;
}

body
{
	background-color: #171717;
}


/*______________________________________________________________________________*/
                                 /*MENU*/
/*______________________________________________________________________________*/


/*conteneur menu*/
header
{
	width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

	border-bottom: grey solid 1px;
}

/*__________________________________*\

/*logo*/
.logo img
{
	width: 90px;
	height: 90px;
}

/*__________________________________*\

/*boutton menu*/
button
{
    display: none;
}

/*__________________________________*\

/*menu*/
.menu
{
	display: flex;
	list-style: none;
	height: auto;
	margin: 0 auto;
}

/*elements menu*/
 .menu li
{
    list-style: none;
	position: relative;
}

/*liens menu*/
 .menu li a
{
    text-decoration: none;
    padding: 10px;
    color:  #7ed957;
}

.menu > li > a:hover /* > utile pour uniquement toucher la class sans affecter les autres*/
{
	border-bottom: #7ed957 2px;
}

/*________________________________________________________________________________________________________________________________________________________*/

                                          /*PAGE ACCUEIL*/
/*________________________________________________________________________________________________________________________________________________________*/

/*(bloc1 & bloc2) - (fond)*/
.home1, .home2
{						
	display: flex;
	align-items: center;

	width: 90%;

    /*centrer la div automatiquement*/
    margin: 100px auto 100px auto;
}

/*_________________________________________________________________*/


/*(bloc1) - (titre, paragraphe)*/
.home1 .box1
{
    padding-left: 10px;
}

/*(bloc1) - (titre)*/
.home1 h2
{
	font-size: 35px;
	text-align: left;
	color: #40C057;
}

/*(bloc1) - (paragraphe)*/
.home1 p
{
	font-size: 25px;
	padding-top: 20px;
	color: white;
}

/*(bloc1) - (image)*/
.home1 .box2 img
{
	width: 300px;
}

/*_________________________________________________________________*/


/*(bloc2) - titre, paragraphe*/
.home2 .box1
{
    padding-left: 10px;
}

/*(bloc2) - titre*/
.home2 h2
{
	font-size: 35px;
	text-align: left;
	color: #40C057;
}

/*(bloc2) - paragraphe*/
.home2 p
{
	font-size: 25px;
	padding-top: 20px;
	color: white;
}

/*(bloc2) - image*/
.home2 img
{
	width: 300px;
}

/*________________________________________________________________________________________________________________________________________________________*/

                                      /*PAGE CV*/
/*________________________________________________________________________________________________________________________________________________________*/

.cv-container
{
	display: flex;
	justify-content: space-evenly;

}

/*Colonne Gauche*/
.col-left
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pres h2
{
	font-size: 40px;
	color: #40C057;
}

.pres p
{
	color: white;
	font-size: 25px;
	padding: 20px 0 20px 0
}

/*________*/

.icliste
{
	display: flex;
	margin-top: 20px;
}


.bouton-down
{
	display: flex;
	align-items: center;
	border: #40C057 2px solid;
	border-radius: 20px;
	padding: 5px;
	margin-right: 20px;
}

.bouton-down img
{
  width: 30px;
}

.bouton-down p
{
  color: #40C057;
  padding-right: 15px;
}

/*________*/

.bouton-linkedin img
{
	width: 50px;
}

/*________*/

/*Colonne Droite*/

.col-right
{
	display: flex;
}

.col-right img
{
	width: 400px;
}

/*______________________________________________________________________________________*/

                                      /*PAGE JEU*/
/*______________________________________________________________________________________*/

/*(bloc1) - Titre*/
.jeubloc1
{
	background-color: white;
	text-align: center;
}

/*Regles du jeu - (Fond)*/
.regles
{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 20px 0 20px 0;
}

/*Regles du jeu - (Titre)*/
.regles h2
{
	color: white;
	padding-bottom: 20px;
}

/*Case Appli (Règles en paragraphe)*/
.regles p
{
	color: white;
	padding-top: 5px;
	text-align: center;
}

/*Case Appli (Règles en liste)*/
.regles ul li
{
	color: white;
	padding-top: 5px;
	list-style-type: none;
	text-align: center;
}

/*Images et boutton - (Fond)*/
.jeubloc2
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*Images et boutton - (Image)*/
.jeubloc2 img
{
	width: 300px;
}

/*Images et boutton - (Boutton)*/
#buttonapp
{
	background-color: white;
	color: black;
	display: block;

	margin-top: 5px;
}


/*_____________________________*/

/*Galerie des jeux et applis*/
.galeriejeu
{
	display: flex;
	justify-content: space-around;
}

/*Image présentation Galerie jeux et applis*/
.galeriejeu img
{
	width: 200px;
}

/*_____________________________*/

/*Resultat jeu*/
#resultat
{
	background-color: white;
	width: 500px;
}

/*____________________________________________________________*/

                     /*PAGE CALCULATRICE */
/*____________________________________________________________*/

/*Fond*/
.fondcalcul
{
	width: 100%;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

/*Caluclatrice*/
.calculatrice
{
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}

/*Touche Calculatrice*/
.calculatrice form input
{
	border: 0;
	outline: 0;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	box-shadow: -2px -2px 2px 2px;
	background: transparent;
	font-size: 20px;
	color: #40C057;
	cursor: pointer;
	margin:10px;
}

/*Ecran Calculatrice*/
form .display
{
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
}

/*Texte Ecran Calculatrice*/
form .display input
{
	text-align: right;
	flex: 1;
	font-size: 40px;
	box-shadow: none;
}

/*Boutton Egal Calculatrice*/
form input.egal
{
	width: 150px;
	color: rebeccapurple;
}

/*Operateur Calculatrice*/
form input.operator
{
	color: red;

}

/*____________________________________________________________*/

                     /*PAGE SNAKE */
/*____________________________________________________________*/

/* Conteneur du canvas */
#gameContainer {
    text-align: center; /* Centre le contenu */
    margin-top: 5%; /* Ajoute de l'espace en haut */
}

/* Fenêtre du jeu */
#gameCanvas {
    display: block;
    margin: 0 auto; /* Centre horizontalement */
    margin-bottom: 5%; /* Ajoute de l'espace en bas */
    border: 2px solid white; /* Optionnel : ajoute une bordure pour délimiter */
}


/*______________________________________________________________________________________*/

                                    /*PAGE CONTACT*/
/*______________________________________________________________________________________*/


/*(bloc1) - (fond)*/
.blocform
{		
	display: flex;		
	align-items: center;
	justify-content: space-evenly;	
	margin-top: 5%;
}

/*(bloc1) - (formulaire)*/
.contactform
{		
	display: flex;		
	flex-direction: column;

	background-color: #7ed957;
	width: 400px;
}

/*(bloc1) - (titre)*/
.titreform h2
{
	padding: 20px;
}

/*(bloc1) - (texte formulaire)*/
.casecontact
{
  border: none;
  outline: none;
  margin: 20px;
  border-radius: 5px;
}

/*(bloc1) - (passage souris texte formulaire)*/
.casecontact:focus
{
  border : 2px solid black;
}


/*(bloc1) - (boutton envoyer formulaire)*/
#buttoncontact
{
  margin: 10px;
  display: block;
}

/*(bloc2) - (img)*/
.blocimg img
{						
 width: 500px;
}


/*________________________________________________________________________________________________________________________________________________________*/

                                            /*MEDIA QUERIES*/
/*________________________________________________________________________________________________________________________________________________________*/


@media screen and (max-width: 800px)
{

/*____________________________________________________*/
                             /*MENU MOBILE*/
/*____________________________________________________*/

/*boutton menu*/
.menubtn
{
    display: block;
    position: absolute;
    left: 0px;
    height: 40px;
    width: 40px;
    font-size: 15px;
}

/*menu qui ce déroule*/
.active
{
    position: absolute;
    top: 80px;
}

/*logo*/
.logo
{
	margin-left: auto;
}

/*conteneur principal*/
ul .menu
{
    display: block;
}

.menu 
{
    display: block;
    background-color: #36cbfb;
    width: 100%;
    flex-direction: column;

    position: absolute;
    top: -300px;
}

/*liens menu*/
ul li a
{
    display: block;
}

/*____________________________________________________*/
                        /*HOME MOBILE*/
/*____________________________________________________*/

/*(bloc1, bloc2) - fond*/
.home1, .home2 
{
	flex-direction: column;
	text-align: center;
}

/* ____________________ */

/*(bloc1) - titre*/
.home1 h2
{
   text-align: center;
   font-size: 30px;
}

/*(bloc2) - titre*/
.home2 h2
{
   text-align: center;
   font-size: 30px;
}

/* ____________________ */

/*(bloc1) - image*/
.home1 .box2 img
{
	width: 50%;
	height: auto;
	padding-top: 10%;
}

/*(bloc2) - image*/
.home2 .box2 img
{
	width: 50%;
	height: auto;
	padding-top: 10%;
}

/*____________________________________________________*/
                        /*MOBILE CV*/
/*____________________________________________________*/

/*Containeur CV*/
.cv-container
{
	flex-direction: column-reverse;
	text-align: center;
}

/*colonne gauche*/
.col-left
{
	align-items: center;
}

/*Titre - colonne gauche*/
.pres h2
{
	font-size: 20px;

}

/*Texte - colonne gauche*/
.pres p
{
	font-size: 17px;
}

/*colonne droite*/
.col-right
{
	justify-content: center;
}

/*Image - colonne droite*/
.col-right img
{
	width: 200px;
}

/*____________________________________________________*/
                        /*CONTACT MOBILE*/
/*____________________________________________________*/

/* Bloc formulaire*/
.blocform
{
	width: auto;
	flex-direction: column;
}

/* Case formulaire*/
.casenom
{
	width: 80vw;
}

/*fermeture*/
}
