/*structure*/
*
{
font-family: "Roboto Mono", monospace;
 margin: 0;
 padding: 0;
 text-decoration: none;
}

body
{
	background-color: #171717;
}


/*______________________________________________________________________________*/
                                 /*MENU*/
/*______________________________________________________________________________*/


/*conteneur menu*/
header
{
	width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

	border-bottom: grey solid 1px;
}

/*__________________________________*\

/*logo*/
.logo img
{
	width: 90px;
	height: 90px;
}

/*__________________________________*\

/*boutton menu*/
button
{
    display: none;
}

/*__________________________________*\

/*menu*/
.menu
{
	display: flex;
	list-style: none;
	height: auto;
	margin: 0 auto;
}

/*elements menu*/
 .menu li
{
    list-style: none;
	position: relative;
}

/*liens menu*/
 .menu li a
{
    text-decoration: none;
    padding: 10px;
    color:  #7ed957;
}

.menu > li > a:hover /* > utile pour uniquement toucher la class sans affecter les autres*/
{
	border-bottom: #7ed957 2px;
}

/*________________________________________________________________________________________________________________________________________________________*/

                                          /*PAGE ACCUEIL*/
/*________________________________________________________________________________________________________________________________________________________*/



/*(bloc1) - (fond)*/
.home1
{						
	display: flex;
	align-items: center;

	width: 1200px;

    /*centrer la div automatiquement*/
	margin-left: auto;
    margin-right: auto;
}

/*(bloc1) - (titre, paragraphe)*/
.home1 .box1
{
    padding-left: 10px;
}

/*(bloc1) - (titre)*/
.home1 h2
{
	font-size: 35px;
	text-align: left;
	color: #40C057;
}

/*(bloc1) - (paragraphe)*/
.home1 p
{
	font-size: 25px;
	padding-top: 20px;
	color: white;
}


/*(bloc1) - (image)*/
.home1 .box2 img
{
	width: 400px;
}

/*_________________________________________________________________*/

/*(bloc2) - (fond)*/
.home2
{						
	display: flex;
	align-items: center;

	width: 1200px;

    /*centrer la div automatiquement*/
	margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


/*(bloc2) - titre, paragraphe*/
.home2 .box1
{
    padding-left: 10px;
}

/*(bloc2) - titre*/
.home2 h2
{
	font-size: 35px;
	text-align: left;
	color: #40C057;
}

/*(bloc2) - paragraphe*/
.home2 p
{
	font-size: 25px;
	padding-top: 20px;
	color: white;
}

/*(bloc2) - image*/
.home2 img
{
	width: 400px;
}

/*_________________________________________________________________*/

/*(bloc2.5) - fond*/
.home2ed
{
    display: flex;
    justify-content: space-around;
    width: 1200px;

    margin-left: 40px;
	margin-right: 300px;
    
}

/*(bloc2.5) - carte*/
.home2ed .box3a 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*(bloc2.5) - carte titre*/
.home2ed p
{
	color: #40C057;
}

/*(bloc2.5) - carte image*/
.home2ed .box3a img
{
	width: 150px;
}

/*_________________________________________________________________*/

/*(bloc3) - (fond)*/
.home3
{						
	display: flex;
	align-items: center;

	width: 1200px;

    /*centrer la div automatiquement*/
	margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/*(bloc3) - titre, paragraphe*/
.home3 .box1
{
    padding-left: 10px;
}

/*(bloc3) - titre*/
.home3 h2
{
	font-size: 35px;
	text-align: left;
	color: #38b6ff;
}

/*(bloc3) - paragraphe*/
.home3 p
{
	font-size: 25px;
	padding-top: 20px;
}

/*(bloc3) - image*/
.home3 img
{
	width: 500px;
}

/*_________________________________________________________________*/

/*(bloc3.5) - fond*/
.home3ed
{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*(bloc3.5) - carte*/
.home3ed .box3a 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*(bloc3.5) - carte titre*/
.home3ed p
{
	color: #36cbfb;
}

/*(bloc3.5) - carte image*/
.home3ed .box3a img
{
	width: 200px;
}

/*________________________________________________________________________________________________________________________________________________________*/

                                      /*PAGE CV*/
/*________________________________________________________________________________________________________________________________________________________*/

.cv-container
{
	display: flex;
	justify-content: space-evenly;

}

/*Colonne Gauche*/
.col-left
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pres h2
{
	font-size: 40px;
	color: #40C057;
}

.pres p
{
	color: white;
	font-size: 25px;
	padding: 20px 0 20px 0
}

/*________*/

.icliste
{
	display: flex;
	margin-top: 20px;
}


.bouton-down
{
	display: flex;
	align-items: center;
	border: #40C057 2px solid;
	border-radius: 20px;
	padding: 5px;
	margin-right: 20px;
}

.bouton-down img
{
  width: 30px;
}


.bouton-down p
{
  color: #40C057;
  padding-right: 15px;
}

/*________*/

.bouton-linkedin img
{
	width: 50px;
}

/*________*/

/*Colonne Droite*/

.col-right
{
	display: flex;
}

.col-right img
{
	width: 400px;
}


/*________________________________________________________________________________________________________________________________________________________*/

                                      /*PAGE PORTFOLIO*/
/*________________________________________________________________________________________________________________________________________________________*/

/*GALERIE - (fond)*/
.galerie
{
	text-align: center;

	 padding-top: 50px;

	 display: flex;
	 justify-content: space-around;
}

/*GALERIE - (titre)*/
h3
{
	text-align: center;
	color: white;
	background-color: #38b6ff;

	margin-top: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*GALERIE - (cadre logo)*/
.caselog
{
	display: flex;
	flex-direction: column;

	text-align: center;
}

/*GALERIE - (logo)*/
.caselog img
{
	width: 400px;
	height: 200px;

	border: 1px solid #38b6ff;
	border-radius: 8px;
}

/*GALERIE - (titre logo)*/
.caselog h2
{
	margin-top: 10px;
	padding: 2px;
	
	background-color: #38b6ff;
	border: 1px solid #38b6ff;
	border-radius: 8px;
	
	color: white;
}

/*______________________________________________________________________________________*/

                                      /*PAGE JEU*/
/*______________________________________________________________________________________*/

/*Fond*/
.jeubloc1
{
	background-color: white;
	text-align: center;
}

/*Case Appli (Fond)*/
.caseapp
{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 20px;
}

/*Case Appli (Titre)*/
.caseapp h2
{
	color: white;
}

/*Case Appli (Image)*/
.caseapp img
{
	width: 300px;
}

/*Case Appli (Boutton)*/
#buttonapp
{
	background-color: white;
	color: black;
	display: block;

	margin-top: 5px;
}

/*Jeu & regles*/
.jeubloc2
{
	display: flex;
	justify-content: space-around;
}

/*_____________________________*/

/*Galerie des jeux et applis*/
.galeriejeu
{
	display: flex;
	justify-content: space-around;
}

/*Image présentation Galerie jeux et applis*/
.galeriejeu img
{
	width: 200px;
}


/*_____________________________*/

/*Resultat jeu*/
#resultat
{
	background-color: white;
	width: 500px;
}


/*______________________________________________________________________________________*/

                                    /*PAGE CONTACT*/
/*______________________________________________________________________________________*/


/*(bloc1) - (fond)*/
.blocform
{		
	display: flex;		
	align-items: center;
	justify-content: space-evenly;	
	
	
}

/*(bloc1) - (formulaire)*/
.contactform
{		
	display: flex;		
	flex-direction: column;

	background-color: #7ed957;
	width: 400px;
}

/*(bloc1) - (titre)*/
.titreform h2
{
	padding: 20px;
 
}

/*(bloc1) - (texte formulaire)*/
.casecontact
{
  border: none;
  outline: none;
  margin: 20px;
  border-radius: 5px;
}


/*(bloc1) - (boutton envoyer formulaire)*/
#buttoncontact
{
  margin: 10px;
  display: block;

}

/*(bloc2) - (img)*/
.blocimg img
{						
 width: 500px;
}


/*________________________________________________________________________________________________________________________________________________________*/

                                         /*PAGE CREDIT*/
/*________________________________________________________________________________________________________________________________________________________*/

/*(bloc1 - fond)*/
.creditbloc1
{
	display: flex;
	flex-direction: column;

	border: 2px solid #7ed957; 
	margin: 10px 30px 0px 30px;
}

/*(bloc1 - titre)*/
.creditbloc1 h2
{
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
	color: white;
}

/*(bloc1 - liste)*/
.creditbloc1 ul
{
	list-style-type: none;
	padding: 2px 0px 5px 0px;
	text-align: center;

	color: white;
}

/*(bloc1 - liste nom)*/
.creditbloc1 ul li
{
	padding-top: 2px;
	color: white;
}


/*___________________________________________________________________________________*/
                                        /*FOOTER*/
/*_____________________________________________________________________________________*/

/*FOND PRINCIPAL*/
.foot
{
	background-color: #7ed957;
	color: white;

	margin-top: 100px;
	padding: 5px 0px 3px 10px;
}

/*(lien)*/
.foot a
{
	color: white;
}


/*________________________________________________________________________________________________________________________________________________________*/

                                            /*MEDIA QUERIES*/
/*________________________________________________________________________________________________________________________________________________________*/


@media screen and (max-width: 800px)
{

/*____________________________________________________*/
                             /*MENU MOBILE*/
/*____________________________________________________*/

/*boutton menu*/
button
{
    display: block;
    position: absolute;
    left: 0px;
    height: 40px;
    width: 40px;
    font-size: 15px;
}

/*menu qui ce déroule*/
.active
{
    position: absolute;
    top: 80px;
}

/*logo*/
.logo
{
    display: flex;
    justify-content: flex-end;
}

/*conteneur principal*/
nav 
{
    display: block;
}

nav ul
{
    display: block;
    background-color: #36cbfb;
    width: 100%;
    flex-direction: column;

    position: absolute;
    top: -300px;
}

/*liens menu*/
ul li a
{
    display: block;
}

/*____________________________________________________*/
                        /*HOME MOBILE*/
/*____________________________________________________*/

/*(bloc1, bloc2, bloc3) - fond*/
.home1, .home2, .home3, .home0
{
	flex-direction: column;
	width: auto;

	margin-top: 20px;
	text-align: center;
	margin: 50px 15px 0px 0px;
}

/*(bloc0 provisoire) - titre*/
.home0 h2
{
   text-align: center;
   font-size: 30px;
}

/*(bloc1) - titre*/
.home1 h2
{
   text-align: center;
   font-size: 30px;
}

/*(bloc2) - titre*/
.home2 h2
{
   text-align: center;
   font-size: 30px;
}

/*(bloc3) - titre*/
.home3 h2
{
   text-align: center;
   font-size: 30px;
}

/*(bloc 2ed,3ed) - fond*/
.home2ed, .home3ed
{
  width: auto;

}


/*(bloc1) - image*/
.home1 img
{
	max-width: 300px;
}

/*(bloc2) - image*/
.home2 img
{
	max-width: 300px;
}

/*(bloc2.5) - image liste*/
.home2ed img
{
	max-width: 100px;
}

/*(bloc3) - image*/
.home3 img
{
	max-width: 300px;
}


/*(bloc3.5) - image liste*/
.home3ed img
{
	max-width: 100px;
}


/*____________________________________________________*/
                        /*MOBILE FLYER*/
/*____________________________________________________*/

/*(bloc1, bloc2, bloc3, bloc4, bloc5) - fond*/
.flyerbloc1, .flyerbloc2, .flyerbloc3, .flyerbloc4
{
	flex-direction: column;
	width: auto;
	text-align: center;
	font-size: 14px;

	margin: 50px 15px 0px 0px;
	padding-top: 50px;
}

/*(bloc 2.5) - fond*/
.flyerbloc2ed
{
  width: auto;
  flex-direction: column;
  align-items: center;
}

/*(bloc 2.5) - icone & texte*/
.flyerbloc2ed .box3a
{
  padding-top: 20px;
}

/*_______________*/

/*(bloc 1) - titre*/
.flyerbloc1 h2
{
  text-align: center;
  font-size: 30px;
}

/*(bloc 2) - titre*/
.flyerbloc2 h2
{
  text-align: center;
  font-size: 30px;
}

/*(bloc 2.5) - titre*/
.flyerbloc2ed h2
{
  font-size: 18px;
}

/*(bloc 3) - titre*/
.flyerbloc3 h2
{
  text-align: center;
  font-size: 30px;
}

/*(bloc 4) - titre*/
.flyerbloc4 h2
{
  text-align: center;
  font-size: 30px;
}

/*_______________*/

/*(bloc 1) - texte*/
.flyerbloc1 p
{
  font-size: 22px;
}

/*(bloc 2) - texte*/
.flyerbloc2 p
{
  font-size: 22px;
}

/*(bloc 2ed) - texte*/
.flyerloc2ed p
{
  font-size: 22px;
}

/*(bloc 3) - texte*/
.flyerbloc3 p
{
  font-size: 22px;
}

/*(bloc 4) - texte*/
.flyerbloc4 p
{
  font-size: 18px;
}

/*_______________*/

/*(bloc1) - image*/
.flyerbloc1 img
{
	max-width: 300px;
}

/*(bloc2) - image*/
.flyerbloc2 img
{
	max-width: 300px;
}

/*(bloc2.5) - image*/
.flyerbloc2ed img
{
	max-width: 100px;
}

/*(bloc3) - image*/
.flyerbloc3 img
{
	max-width: 300px;
}


/*(bloc4) - image*/
.flyerbloc4 img
{
	max-width: 300px;
}

/*____________________________________________________*/
                        /*PORTFOLIO MOBILE*/
/*____________________________________________________*/

/*GALERIE - (fond)*/
.galerie
{
	background-color: white;

	text-align: center;

	 padding-top: 5px;
	 padding-bottom: 5px;

	 margin-top: 10px;

	 display: flex;
	 flex-direction: column;
	 justify-content: space-around;
	 align-items: center;
}

/*GALERIE - (case logo)*/
.caselog
{
	background-color: #f6fdff8c;
	border-radius: 10px;

	display: flex;
	flex-direction: column;

	text-align: center;

	margin-top: 20px;
}

/*GALERIE - (logo)*/
.caselog img
{
	max-width: 350px;
}

/*GALERIE - (case flyer)*/
.casefly
{

	display: flex;
	flex-direction: column;

	text-align: center;
	margin-top: 20px;
}

/*GALERIE - (titre flyer)*/
.casefly h2
{
	padding-top: 5px;
}


/*GALERIE - (flyer)*/
.casefly img
{
	max-width: 350px;
	max-height: 500px;
	padding-top: 5px;
}


/*____________________________________________________*/
                        /*CONTACT MOBILE*/
/*____________________________________________________*/

/*(bloc1) - fond*/
.contbloc1, .contbloc1ed
{
	flex-direction: column;
	width: auto;

	margin-top: 10px;
}

/*(bloc1) - image*/
.contbloc1 h2
{
	text-align: center;
}

/*(bloc1) - image*/
.contbloc1 img
{
	max-width: 300px;
}

/*_______________*/

/*(bloc1ed) - image*/
.contbloc1ed h2
{
	text-align: center;
}

/*(bloc1ed) - image*/
.contbloc1ed img
{
	max-width: 300px;
}


/*___________________________________________________________________________________*/
                                        /*FOOTER*/
/*_____________________________________________________________________________________*/

/*FOND PRINCIPAL*/
.foot
{
	background-color: #38b6ff;
	color: white;

	margin-bottom: 100px;
	padding: 5px 0px 3px 10px;

	border: 2px black solid;
}

/*(lien)*/
.foot a
{
	color: white;
}


/*fermeture*/
}
