/*structure*/
*
{
 font-family: "Roboto Mono", monospace;
 margin: 0;
 padding: 0;
 text-decoration: none;
}

body
{
	background-color: #171717;
}


/*______________________________________________________________________________*/
                                 /*LIGHT & DARK MODE*/
/*______________________________________________________________________________*/

/*Boutton Mode Dark*/
#theme-btn
{
  width: 8%;
  display: flex;
  background-color: transparent;
  border-radius: 10%;
}

/*Boutton Mode Light*/
body.light-theme #theme-btn
{
  background-color: black;
}

/* Icone Boutton Dark*/
#icsoleil, #iclune
{
   width: 30px;
}

/* Mode clair */
body.light-theme 
{
	background-color: white; /* Fond clair */
}

/* Menu*/
body.light-theme .menu li a
{
    color: black;
}

/*Titre et Paragraphes*/
body.light-theme p, body.light-theme h2, body.light-theme h3
{
	color: black;
}

/*ACCUEIL & CV*/

/* Accueil & CV - Bordures */
body.light-theme .contcomp, body.light-theme .temoin
{
	border: black 1px solid;
}


/*JEUX & APP*/

/* Jeux & App - Boutton*/
body.light-theme #buttonapp
{
	background-color: white;
}


/*______________________________________________________________________________*/
                                 /*MENU*/
/*______________________________________________________________________________*/


/*conteneur menu*/
header
{
	width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

	border-bottom: grey solid 1px;
}

/*__________________________________*\

/*logo*/
.logo img
{
	width: 90px;
	height: 90px;
}

/*__________________________________*\

/*boutton menu*/
button
{
    display: none;
}

/*__________________________________*\

/*menu*/
.menu
{
	display: flex;
	list-style: none;
	height: auto;
	margin: 0 auto;
}

/*elements menu*/
 .menu li
{
    list-style: none;
	position: relative;
}

/*liens menu*/
 .menu li a
{
    text-decoration: none;
    padding: 10px;
    color:  #7ed957;
}

.menu > li > a:hover /* > utile pour uniquement toucher la class sans affecter les autres*/
{
	border-bottom: #7ed957 2px;
}

/*________________________________________________________________________________________________________________________________________________________*/

                                      /*PAGE HOME CV*/
/*________________________________________________________________________________________________________________________________________________________*/

/*(bloc1) - Fond*/
.cv-container
{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 5%;
}

/*Colonne Gauche*/
.col-left
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pres h2
{
	font-size: 40px;
	color: #40C057;
}

.pres p
{
	color: white;
	font-size: 25px;
	padding: 20px 0 20px 0
}

/*________*/

.icliste
{
	display: flex;
	margin-top: 20px;
}


.bouton-down
{
	display: flex;
	align-items: center;
	border: #40C057 2px solid;
	border-radius: 20px;
	padding: 5px;
	margin-right: 20px;
}

.bouton-down img
{
  width: 30px;
}

.bouton-down p
{
  color: #40C057;
  padding-right: 15px;
}

/*________*/

.bouton-linkedin img
{
	width: 50px;
}

/*________*/

/*Colonne Droite*/

.col-right
{
	display: flex;
}

.col-right img /*pp*/
{
	width: 300px;
}

/*_________________________________________________________________*/

/* Titres animés*/
.animtitre
{
	width: 15ch; /*longueur des caracteres si la phrase en a 27 il faut mettre 27*/
	animation: machine 2s steps(22), blink .5s step-end infinite alternate; /*steps = nombre de caractere qui s'affiche*/
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid green;

	text-align: center;
    margin: 0 auto;
    display: block;
}

h2.animtitre 
{
	font-size: 35px;
	color: #40C057;
	margin-bottom: 2%;
}

/*(bloc2) - Titre animé*/
@keyframes machine
{
  from {
	width: 0;
  }
}

@keyframes blink 
{
	50%
	{
		border-color: greenyellow;
	}
}

/*_____________________________*/

/*(bloc2) - Containeur Skills*/
.fondskills
{
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 80%;
	height: 400px;
	margin: auto;
	margin-bottom: 10%;
}

/*(bloc2) - Sous-Titre*/
.fondskills h3
{
	font-size: 1.7em;
	color: #40C057;
	margin: 4% 0 2% 0;
}


/*(bloc2.1) - Fond*/
.contcomp
{
	border: #7ed957 solid 3px;
	display: flex;
	align-items: center;
	justify-content: space-around;

	width: 80%;
	padding: 2% 0 2% 0;
}

/* (Card) */
.card
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* (Card) - Texte*/
.card p
{
  text-align: center;
  margin-bottom: 5%;
  color: white;
}

/* (Card) - Images*/
.card img
{
	width: 70px;
}

/*_____________________________*/

/*(bloc 3)*/
.temoin
{
	width: 80%;
	height: 3rem;

	border: #7ed957 2px solid;
	display: flex;

	margin: auto;
	margin-bottom: 10%;
}

/*(bloc 3) - pp*/
.pp
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*______________________________________________________________________________________*/

                                      /*PAGE JEU*/
/*______________________________________________________________________________________*/

/*Galerie des jeux et applis*/
.galeriejeu
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/*Image présentation Galerie jeux et applis*/
.galeriejeu img
{
	width: 200px;
}

/* Titre des catégories*/
.galeriejeu h2
{
   color: #7ed957;
   text-align: center;
   margin: 5% 0 3% 0;
}

/* Catégorie de la galerie*/
.categalerie
{
   width: 80%;
   margin: auto;
   margin-bottom: 5%;

   border: #7ed957 2px solid;

   display: flex;
   justify-content: space-around;
}

/*_____________________________*/

/*Carte des Jeux et Applications*/
.caseapp
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2% 0 2% 0;
}

/* Titre des Cartes*/
.caseapp h2
{
   color: #7ed957;
}

/*_____________________________*/

/*(bloc1) - Conteneur Titre*/
.jeubloc1
{
	text-align: center;
	margin: 30px 0 30px 0;
}

/*(bloc1) - Titre*/
.jeubloc1 h2
{
	font-size: 30px;
	color: #7ed957;
}

/*Regles du jeu - (Fond)*/
.regles
{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 20px 0 20px 0;
}

/*Regles du jeu - (Titre)*/
.regles h2
{
	color: white;
	padding-bottom: 20px;
}

/*Case Appli (Règles en paragraphe)*/
.regles p
{
	color: white;
	padding-top: 5px;
	text-align: left;
}

/*Case Appli (Règles en liste)*/
.regles ul li
{
	color: white;
	padding-top: 5px;
	list-style-type: none;
	text-align: left;
}

/*Images et boutton - (Fond)*/
.jeubloc2
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*Images et boutton - (Image)*/
.jeubloc2 img
{
	width: 300px;
}

/*Images et boutton - (Boutton)*/
#buttonapp
{
	background-color: #7ed957;
	color: white;
	display: block;

	margin-top: 5px;
	padding: 3%;
}

/*_____________________________*/

/*Resultat jeu*/
#resultat
{
	background-color: white;
	width: 500px;
}

/*____________________________________________________________*/

                     /*PAGE CALCULATRICE */
/*____________________________________________________________*/

/*Fond*/
.fondcalcul
{
	width: 100%;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

/*Caluclatrice*/
.calculatrice
{
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}

/*Touche Calculatrice*/
.calculatrice form input
{
	border: 0;
	outline: 0;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	box-shadow: -2px -2px 2px 2px;
	background: transparent;
	font-size: 20px;
	color: #40C057;
	cursor: pointer;
	margin:10px;
}

/*Ecran Calculatrice*/
form .display
{
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
}

/*Texte Ecran Calculatrice*/
form .display input
{
	text-align: right;
	flex: 1;
	font-size: 40px;
	box-shadow: none;
}

/*Boutton Egal Calculatrice*/
form input.egal
{
	width: 150px;
	color: rebeccapurple;
}

/*Operateur Calculatrice*/
form input.operator
{
	color: red;

}

/*____________________________________________________________*/

                     /*PAGE SNAKE */
/*____________________________________________________________*/

/* Conteneur du canvas */
#gameContainer {
    text-align: center; /* Centre le contenu */
    margin-top: 5%; /* Ajoute de l'espace en haut */
}

/* Fenêtre du jeu */
#gameCanvas {
    display: block;
    margin: 0 auto; /* Centre horizontalement */
    margin-bottom: 5%; /* Ajoute de l'espace en bas */
    border: 2px solid white; /* Optionnel : ajoute une bordure pour délimiter */
}


/*______________________________________________________________________________________*/

                                    /*PAGE CONTACT*/
/*______________________________________________________________________________________*/


/*(bloc1) - (fond)*/
.blocform
{		
	display: flex;		
	align-items: center;
	justify-content: space-evenly;	
	margin-top: 5%;
}

/*(bloc1) - (formulaire)*/
.contactform
{		
	display: flex;		
	flex-direction: column;

	background-color: #7ed957;

	padding-bottom: 5%;
}

/*(bloc1) - (titre)*/
.titreform h2
{
	padding: 20px;
}

/*(bloc1) - (texte formulaire)*/
.casecontact
{
  border: none;
  outline: none;
  margin: 20px;
  border-radius: 5px;
}

/*(bloc1) - (passage souris texte formulaire)*/
.casecontact:focus
{
  border : 2px solid black;
}

textarea
{
	resize: none;
	height: 100px;
}

/*(bloc1) - (boutton envoyer formulaire)*/
#buttoncontact
{
  width: 50%;

  display: block;
  margin-bottom: 5%;
  margin: auto;
}

/*(bloc2) - (img)*/
.blocimg img
{						
  width: 500px;
}


/*________________________________________________________________________________________________________________________________________________________*/

                                            /*MEDIA QUERIES*/
/*________________________________________________________________________________________________________________________________________________________*/


@media screen and (max-width: 800px)
{

/*____________________________________________________*/
                     /*GENERAL*/
/*____________________________________________________*/

html, body 
{
    overflow-x: hidden; /*Retire le scroll latéral*/
}

/*____________________________________________________*/
                             /*MENU MOBILE*/
/*____________________________________________________*/

/*logo*/
.logo
{
	margin-left: auto;
}

/*boutton menu*/
.menubtn
{
    display: block;
    position: absolute;
    left: 0px;
    height: 40px;
    width: 40px;
    font-size: 15px;
}

/*menu qui ce déroule*/
.active
{
    position: absolute;
    top: 80px;
}



/*conteneur principal*/
ul .menu
{
    display: block;
}

/*menu*/
.menu 
{
    display: block;
    background-color: #7ed957;
    width: 100%;
    flex-direction: column;

    position: absolute;
    top: -300px;
}

/*menu ouvert*/
.menu.active
{
    top: 80px;
}

/*liens menu*/
.menu li a
{
    display: block;
	color: white;
}

/*____________________________________________________*/
                        /*Mobile - Home CV */
/*____________________________________________________*/

/*Containeur CV*/
.cv-container
{
	flex-direction: column-reverse;
	text-align: center;
}

/*colonne gauche*/
.col-left
{
	align-items: center;
}

/*Titre - colonne gauche*/
.pres h2
{
	font-size: 20px;

}

/*Texte - colonne gauche*/
.pres p
{
	font-size: 17px;
}

/*colonne droite*/
.col-right
{
	justify-content: center;
}

/*Image - colonne droite*/
.col-right img
{
	width: 200px;
}

/* ____________________ */

/* Titre Principal*/
.animtitre
{
	margin-top: 20%;
}

/* Titre Principal*/
h2.animtitre
{
	font-size: 25px;
}

/* Containeur Skills*/
.fondskills
{
	width: 100%;
}

/*(bloc2) - Sous-Titre*/
.fondskills h3
{
	font-size: 20px;
}

/* (Card) - Images*/
.card img
{
	width: 60px;
}

/*____________________________________________________*/
                        /*Mobile - JEU*/
/*____________________________________________________*/

/*Galerie des jeux et applis*/
.galeriejeu
{
	flex-direction: column;
}

/* Catégorie de la galerie*/
.categalerie
{
	flex-direction: column;
}

/*Carte des Jeux et Applications*/
.caseapp
{
	margin-bottom: 10%;
}

/*____________________________________________________*/
                        /* CALCULATRICE */
/*____________________________________________________*/

/*Touche Calculatrice*/
.calculatrice form input
{
	width: 40px;
	height: 40px;
}

/*____________________________________________________*/
                        /*CONTACT MOBILE*/
/*____________________________________________________*/

/* Bloc formulaire*/
.blocform
{
	width: auto;
	flex-direction: column-reverse;
}

/* Case formulaire*/
.casenom
{
	width: 80vw;
}

/*(bloc2) - (img)*/
.blocimg img
{						
  width: 400px;
  margin-bottom: 5%;
}

/*fermeture*/
}
